<table class="ui celled table">
  <thead>
    <tr>
    <th>ID</th>
    <th>名前</th>
    <th>ウィキ</th>
    <th>ふりがな</th>
    <th>画像</th>
    <th>国</th>
    <th>出身</th>
    <th>誕生日</th>
    <th>フィジカル</th>
    <th>投打</th>
    <th>ポジション</th>
    <th>ドラフト</th>
    <th>年棒</th>
    <th>経歴概要</th>
    <th>経歴詳細</th>
    <th>球団</th>
    <th>管理</th>
    </tr>
 </thead>
  <tbody>
    <% players.each do |player| %>
        <tr>
         <td ><%= player.id %></td>
         <td><%= link_to"#{player.name}", player, { :target => "_blank"}  %></td>
         <td ><%= player.wiki %></td>
         <td ><%= player.phonetic %></td>
         <td ><%= image_tag(player.image, :size => '50x50') if !player.image.nil? %></td>
         <td ><%= player.country %></td>
         <td ><%= player.graduate %></td>
         <td ><%= player.birth %></td>
         <td ><%= player.physical %></td>
         <td ><%= player.style %></td>
         <td ><%= player.position %></td>
         <td ><%= player.draft %></td>
         <td ><%= player.bar %></td>
         <td ><%= player.career_over %></td>
         <td ><%= player.career_detail.truncate(20) if !player.career_detail.nil? %></td>
         <td ><%= player.team %></td>
         <td>
          <%= link_to "編集", edit_player_path(player.id), { :class => "ui olive button" } %>
          <%= link_to "削除", player, { :class => "ui red button", method: :delete, data: { confirm: "本当に削除してもいいですか？" }} %>
         </td>
        </tr>
    <% end %>
  </tbody>
</table>